* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: manipulation;
}

body {
    background-color: #EEF0F4;
    font-family: "Rubik", serif;
}

img {
    width: 150px;
    display: block;
    margin: 1em auto .6em;
}

#input-el {
    color: #432000;
    background-color: #DCE1EB;
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-size: 1.3rem;
    margin: 10px 0;
}

#btn-el {
    color: #FDFDFD;
    background-color: #AC485A;
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-size: 1.3rem;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 30px auto;
    padding: 20px;
}